$primary-color: #19bb02;
$secondary-color: #252d24;

// IDEA: improve namings
$neutral-color-100: #ffffff;
$neutral-color-150: #f8f8f8;
$neutral-color-200: #fafafa;
$neutral-color-250: #f8fafc;
$neutral-color-300: #f2f2f2;
$neutral-color-400: #c4c4c4;
$neutral-color-700: #818181;
$neutral-color-900: #000000;

$error-color: #f14d4d;
$warning-color: #e9ac28;
$success-color: #38b927;

// REVIEW: Private and public
$_test: lime;
$test: lime;
