$header-height-mobile: 4.4375rem;
$header-height-desktop: 8rem;

$container-xs: 60rem;
$container-sm: 71rem;
$container-md: 80rem;

$fast: 105ms;
$default: 200ms;
$slow: 350ms;

$ease-out: cubic-bezier(0.04, 0.91, 0.68, 1.23);
